*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.board {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    margin: 100px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    padding: 2px;
}

.field {
    font-size: 70px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
